#face-video, #face-canvas {
    background-color: #000000;
}

.face-message {
    width: 460px;
    background-color: #000000;
    color: #e2e2e2;
    font-size: 0.9em;
    padding: 0.5em;
}

.face-row {
    margin-top: 0.4em;
}

.face-btn {
    width: 85px;
    border: 1px solid #202020;
    font-weight: bold;
    padding: 0.3em;
    box-shadow: 3px 4px 9px rgba(32, 32, 32, 0.5);
    cursor: pointer;
}

.face-btn-not-applicable {
    background-color: #808080;
}

.face-btn-capture {
    background-color: #f3d84a;
}

.face-btn-play {
    background-color: #39bcf1;
}

.face-btn-pause {
    background-color: #fb733d;
}
