@import './App.css';
@import './components/Face.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Originally, it was: 0.83em */
h2 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

/* Originally, it was: 1em */
p {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

.cols {
  display: flex;
  flex-flow: column nowrap;
}
.rows {
  display: flex;
  flex-flow: row nowrap;
}

.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }

.align-start { align-items: flex-start; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }

.col-1 { flex: 1 1 calc(33.33333% - 1rem); }
.col-2 { flex: 1 1 calc(66.66667% - 1rem); }
.col-3 { flex: 1 1 calc(100% - 1rem); }

.wrapper {
    padding: 0.6em;
    font-size: 1.1.em;
}

.example {
    color: #afafaf;
}
